*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}


.container h1{
    color: #1877f2;
    font-weight: 700;
    padding: 24px 0;
    margin: 0 15vw;
}

.cadastro{
    width: 50%;
    margin-left: 15vw;

}

.cadastro form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cadastro .btn{
    border: none;
    background-color: #42b72a;
    padding:  12px;
    margin-left: 15vw;
}
