*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    background-color: #cccc;
}

.cadastro{
    width: 50%;
}

button{
    background-color: #42b72a;
}