*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #2f3640;
    color: #f5f6fa;
    padding: 16px 0;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: #f5f6fa;
    text-decoration: none;
}

.container{
    width: 1366px;
    margin: 0 auto;

}

.articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{
    height: 300px;
    width: 360px;
}

.articles article{
    width: 30%;
}

section{
    padding: 16px 0;

}

section h2,
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

article .link-esporte{
    background-color: green;
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}

article .link-economia{
    background-color: goldenrod;
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}

article .link-technology{
    background-color: rgb(50, 43, 148);
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}

article .link-entertainment{
    background-color: rgb(155, 16, 160);
    color: #fff;
    margin-top: 8px;
    padding: 8px;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
}

article .link-esporte:hover{
    text-decoration: underline;
}

article .link-economia:hover{
    text-decoration: underline;
}

article .link-technology:hover{
    text-decoration: underline;
}

article .link-entertainment:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

section h3{
    font-size: 24px;
}

section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0, 255, 0, 0.1);
}

#economy{
    background-color: #f0f59f;
}

#technology{
    background-color: rgba(0, 0, 220, 0.1);
}

#entertainment{
    background-color: rgba(158, 13, 158, 0.1) ;
}